html {
	
}
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
p {
}

h1 {
	text-align: center;
}
h2 {

}
h3 {

}

.contact {
	text-align: center;
}

.item {

}
.position {

}
.itemDesc {

}
.itemDesc2 {

}
