html {
	
}
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	background-color: #FFFFF0;
}
p {
}

h1 {
	text-align: center;
}
h2 {

}
h3 {

}

.contact {
	text-align: center;
}

.item, #skills {
	text-indent: 50px;
}
.item {
	font-weight: bold;
}
.position {
	font-style: italic;
	text-indent: 75px;
}
.itemDesc {
	list-style-position: inside;
	text-indent: 100px;
}
.itemDesc2 {
	text-indent: 125px;
}
